.container {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
